<ion-view>
    <ion-header-bar class="bar-positive bar-fb-blue">
        <div class="item-input-wrapper fbsearch"> <i class="icon ion-ios7-search placeholder-icon"></i>
            <input type="search" class="" placeholder="Search">
        </div>
        <button class="button button-clear"> <i class="icon ion-navicon"></i>
        </button>
    </ion-header-bar>

    <ion-content>

        <div class="list">
            <a class="item item-icon-left" href="">
                <i class="icon ion-email energized"></i>
                Avi Haiat
            </a>

            <a class="item item-icon-left item-icon-right" href="">
                <i class="icon ion-chatbubble-working assertive"></i>
                Update Info
                <span class="badge badge-positive">18</span>
            </a>

            <div class="item item-divider">
                APPS
            </div>

            <a class="item item-icon-left" href="">
                <i class="icon ion-mic-a dark"></i>
                Record album
                <span class="item-note">Grammy</span>
            </a>

            <a class="item item-icon-left" href="">
                <i class="icon ion-person-stalker positive"></i>
                Find Friends
                <span class="badge badge-positive">20+</span>
            </a>

        </div>

    </ion-content>
</ion-view>