<ion-tabs class="tabs-icon-top tabs-light fbnews xfade-in-not-out">

  <ion-tab title="News Feed" icon="icon ion-document-text"  ui-sref="tabs.newsfeed">
    <ion-nav-view name="tab-newsfeed"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Requests" icon="icon ion-person-stalker" ui-sref="tabs.requests">
    <ion-nav-view name="tab-requests"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Messages" icon="icon ion-chatbox" ui-sref="tabs.messages">
    <ion-nav-view name="tab-messages"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Notifications" icon="icon ion-android-earth" ui-sref="tabs.notifications">
    <ion-nav-view name="tab-notifications"></ion-nav-view>
  </ion-tab>

  <ion-tab title="More" icon="icon ion-navicon" ui-sref="tabs.more">
    <ion-nav-view name="tab-more"></ion-nav-view>
  </ion-tab>

</ion-tabs>